flows_hydrogen_apparatus.json
[
    {
        "id": "028400f082bfa284",
        "type": "tab",
        "label": "HYDROGEN APPARATUS",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "7bbe046636920a61",
        "type": "serial in",
        "z": "028400f082bfa284",
        "name": "ESP32 Serial",
        "serial": "312f5e127a06f902",
        "x": 815.09912109375,
        "y": 86.09905242919922,
        "wires": [
            [
                "35496f0ead11b694",
                "55105bfdf8d3bfd6",
                "parse_function"
            ]
        ]
    },
    {
        "id": "35496f0ead11b694",
        "type": "function",
        "z": "028400f082bfa284",
        "name": "Parse Sensor Data",
        "func": "let line = msg.payload;\nlet parts = line.split(',');\nlet data = {};\n\nfor (let part of parts) {\n    let pair = part.split(':');\n    if (pair.length === 2) {\n        let key = pair[0].trim();\n        let value = parseFloat(pair[1].trim());\n        data[key] = value;\n    }\n}\n\nnode.warn(data);  // Log the parsed data to the debug window\n\nlet msgs = [];\nfor (let key in data) {\n    msgs.push({\n        payload: data[key],\n        topic: key\n    });\n}\n\nreturn [msgs];\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 80,
        "wires": [
            [
                "14bdd7eebd342f34"
            ]
        ]
    },
    {
        "id": "14bdd7eebd342f34",
        "type": "switch",
        "z": "028400f082bfa284",
        "name": "Route by Sensor",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "flow",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "pressure",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "temperature_1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "temperature_2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "temperature_3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "temperature_4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "temperature_5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "slider",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 8,
        "x": 1235.09912109375,
        "y": 86.09905242919922,
        "wires": [
            [
                "4baac9441a6284b4",
                "8f968a2e4f5da270"
            ],
            [
                "ef1667369246f763",
                "3908fb1c78dc9c83"
            ],
            [
                "8348adb9f98da6bf",
                "8c359f0ba2dcdf33"
            ],
            [
                "b404cca741dc08ac",
                "de1189cf05240fd1"
            ],
            [
                "acc5a166d8f8428c",
                "1dd073b04f565467"
            ],
            [
                "585e1a3225b5db11",
                "42682bddab4cb27e"
            ],
            [
                "108ab3f5b827184b",
                "719ba196bfe42936"
            ],
            [
                "dbd98aa81e9f29f0"
            ]
        ]
    },
    {
        "id": "4baac9441a6284b4",
        "type": "ui_gauge",
        "z": "028400f082bfa284",
        "name": "Flow Gauge",
        "group": "charts",
        "order": 4,
        "width": 8,
        "height": 3,
        "gtype": "gage",
        "title": "",
        "label": "L/min",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1650,
        "y": 40,
        "wires": []
    },
    {
        "id": "8f968a2e4f5da270",
        "type": "ui_chart",
        "z": "028400f082bfa284",
        "name": "Flow Chart",
        "group": "charts",
        "order": 2,
        "width": 10,
        "height": 7,
        "label": "Flow (L/min)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "Waiting...",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "200",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1870,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "ef1667369246f763",
        "type": "ui_gauge",
        "z": "028400f082bfa284",
        "name": "Pressure",
        "group": "26fac49d1f498eb4",
        "order": 4,
        "width": 7,
        "height": 3,
        "gtype": "gage",
        "title": "",
        "label": "bar",
        "format": "{{value}}",
        "min": 0,
        "max": "25",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1720,
        "y": 180,
        "wires": []
    },
    {
        "id": "3908fb1c78dc9c83",
        "type": "ui_chart",
        "z": "028400f082bfa284",
        "name": "Pressure",
        "group": "26fac49d1f498eb4",
        "order": 2,
        "width": 11,
        "height": 7,
        "label": "Pressure (bar)",
        "chartType": "line",
        "legend": false,
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "Waiting...",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "3600",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#4dff00",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1720,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "8348adb9f98da6bf",
        "type": "ui_gauge",
        "z": "028400f082bfa284",
        "name": "Thermocouple 1",
        "group": "20360c9e681dfa0c",
        "order": 4,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1780,
        "y": 360,
        "wires": []
    },
    {
        "id": "8c359f0ba2dcdf33",
        "type": "ui_chart",
        "z": "028400f082bfa284",
        "name": "Thermocouple 1",
        "group": "20360c9e681dfa0c",
        "order": 2,
        "width": 12,
        "height": 7,
        "label": "Thermocouple 1 (°C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "Waiting...",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#00b3ff",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1760,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "b404cca741dc08ac",
        "type": "ui_gauge",
        "z": "028400f082bfa284",
        "name": "Thermocouple 2",
        "group": "20360c9e681dfa0c",
        "order": 10,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1780,
        "y": 540,
        "wires": []
    },
    {
        "id": "de1189cf05240fd1",
        "type": "ui_chart",
        "z": "028400f082bfa284",
        "name": "Thermocoouple 2",
        "group": "20360c9e681dfa0c",
        "order": 8,
        "width": 12,
        "height": 7,
        "label": "Thermocouple 2 (°C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "Waiting...",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "200",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ffdd00",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1790,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "acc5a166d8f8428c",
        "type": "ui_gauge",
        "z": "028400f082bfa284",
        "name": "Thermocouple 3",
        "group": "20360c9e681dfa0c",
        "order": 16,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1760,
        "y": 680,
        "wires": []
    },
    {
        "id": "1dd073b04f565467",
        "type": "ui_chart",
        "z": "028400f082bfa284",
        "name": "Thermocoouple 3",
        "group": "20360c9e681dfa0c",
        "order": 14,
        "width": 12,
        "height": 7,
        "label": "Thermocouple 3 (°C)",
        "chartType": "line",
        "legend": false,
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "Waiting...",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "200",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff4000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1770,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "f4736c41acf3f4bd",
        "type": "ui_button",
        "z": "028400f082bfa284",
        "name": "",
        "group": "3ecb684841515101",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "CLEAR CHART",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 960,
        "y": 320,
        "wires": [
            [
                "d611ef3fb343a0d1"
            ]
        ]
    },
    {
        "id": "d611ef3fb343a0d1",
        "type": "function",
        "z": "028400f082bfa284",
        "name": "function 1",
        "func": "if (msg.payload.length === 0) {\n    // Send a message to clear the graph data\n    return { payload: [] }; // Clear the graph by sending an empty array\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 320,
        "wires": [
            [
                "1dd073b04f565467",
                "8f968a2e4f5da270",
                "de1189cf05240fd1",
                "8c359f0ba2dcdf33",
                "3908fb1c78dc9c83",
                "42682bddab4cb27e",
                "719ba196bfe42936"
            ]
        ]
    },
    {
        "id": "585e1a3225b5db11",
        "type": "ui_gauge",
        "z": "028400f082bfa284",
        "name": "Thermocouple 4",
        "group": "20360c9e681dfa0c",
        "order": 22,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1760,
        "y": 800,
        "wires": []
    },
    {
        "id": "42682bddab4cb27e",
        "type": "ui_chart",
        "z": "028400f082bfa284",
        "name": "Thermocouple 4",
        "group": "20360c9e681dfa0c",
        "order": 20,
        "width": 12,
        "height": 6,
        "label": "Thermocouple 4 (°C)",
        "chartType": "line",
        "legend": false,
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "Waiting...",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "200",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#00ffbf",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1760,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "108ab3f5b827184b",
        "type": "ui_gauge",
        "z": "028400f082bfa284",
        "name": "Thermocouple 5",
        "group": "20360c9e681dfa0c",
        "order": 27,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1760,
        "y": 940,
        "wires": []
    },
    {
        "id": "719ba196bfe42936",
        "type": "ui_chart",
        "z": "028400f082bfa284",
        "name": "Thermocouple 5",
        "group": "20360c9e681dfa0c",
        "order": 25,
        "width": 12,
        "height": 7,
        "label": "Thermocouple 5 (°C)",
        "chartType": "line",
        "legend": false,
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "Waiting...",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "200",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff00f7",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1760,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "5b6bf06cddae3c4f",
        "type": "ui_switch",
        "z": "028400f082bfa284",
        "name": "Logging Toggle",
        "label": "Logging",
        "tooltip": "Enable/Disable Logging",
        "group": "3ecb684841515101",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "set_logging",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 880,
        "y": 540,
        "wires": [
            [
                "ef79a4b8adbe07dc"
            ]
        ]
    },
    {
        "id": "62506ea4e60b6d73",
        "type": "inject",
        "z": "028400f082bfa284",
        "name": "Enable Logging",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set_logging",
        "payload": "true",
        "payloadType": "bool",
        "x": 850,
        "y": 660,
        "wires": [
            [
                "ef79a4b8adbe07dc"
            ]
        ]
    },
    {
        "id": "4cbd273d56b06a4e",
        "type": "inject",
        "z": "028400f082bfa284",
        "name": "Disable Logging",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set_logging",
        "payload": "false",
        "payloadType": "bool",
        "x": 850,
        "y": 700,
        "wires": [
            [
                "ef79a4b8adbe07dc"
            ]
        ]
    },
    {
        "id": "ef79a4b8adbe07dc",
        "type": "change",
        "z": "028400f082bfa284",
        "name": "Set Logging Flag",
        "rules": [
            {
                "t": "set",
                "p": "loggingEnabled",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "x": 1170,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "55105bfdf8d3bfd6",
        "type": "switch",
        "z": "028400f082bfa284",
        "name": "Check Logging Enabled",
        "property": "loggingEnabled",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 790,
        "y": 760,
        "wires": [
            [
                "37c47bb7f9d79a43"
            ],
            []
        ]
    },
    {
        "id": "37c47bb7f9d79a43",
        "type": "function",
        "z": "028400f082bfa284",
        "name": "Format to CSV",
        "func": "// Define fixed order of fields\nconst fieldOrder = [\n    \"flow\", \"pressure\",\n    \"temperature_1\", \"temperature_2\", \"temperature_3\",\n    \"temperature_4\", \"temperature_5\"\n];\n\nconst now = new Date();\nconst yyyy = now.getFullYear();\nconst mm = String(now.getMonth() + 1).padStart(2, '0');\nconst dd = String(now.getDate()).padStart(2, '0');\nconst hh = String(now.getHours()).padStart(2, '0');\nconst min = String(now.getMinutes()).padStart(2, '0');\nconst sec = String(now.getSeconds()).padStart(2, '0');\n\nconst timestamp = `${yyyy}-${mm}-${dd} ${hh}:${min}:${sec}`;\n\n// Get suffix and counter state from flow context\nlet lastSuffix = flow.get(\"fileSuffix\");\nlet lastTime = flow.get(\"fileSuffixTime\");\nlet counter = flow.get(\"fileCounter\") || 0;\n\nconst currentTime = new Date().getTime();\n\n// Check timeout (2 seconds)\nconst timedOut = !lastTime || (currentTime - lastTime) > 2000;\nif (!lastSuffix || timedOut) {\n    lastSuffix = Math.random().toString(36).substring(2, 10);\n    counter = 1; // Reset counter if timeout\n} else {\n    counter += 1; // Otherwise increment\n}\n\n// Save updated suffix, counter, and time\nflow.set(\"fileSuffix\", lastSuffix);\nflow.set(\"fileSuffixTime\", currentTime);\nflow.set(\"fileCounter\", counter);\n\n// Construct filename with suffix\nconst filename = `C:\\\\logs\\\\log-${yyyy}-${mm}-${dd}-${lastSuffix}.csv`;\n\n// Parse key:value string into an object\nconst keyValuePairs = msg.payload.toString().split(\",\");\nlet data = {};\nkeyValuePairs.forEach(pair => {\n    let [key, value] = pair.split(\":\");\n    data[key.trim()] = value.trim();\n});\n\n// Build CSV row in order: counter, timestamp, then values\nconst values = [counter, timestamp, ...fieldOrder.map(f => data[f] || \"\")];\nmsg.payload = values.join(\",\") + \"\\n\";\nmsg.filename = filename;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 760,
        "wires": [
            [
                "1e2c4131095a5410"
            ]
        ]
    },
    {
        "id": "1e2c4131095a5410",
        "type": "file",
        "z": "028400f082bfa284",
        "name": "Save to CSV File",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1380,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "parse_function",
        "type": "function",
        "z": "028400f082bfa284",
        "d": true,
        "name": "Parse Serial with Timestamp",
        "func": "// Ensure msg.payload is a string\nlet line = String(msg.payload).trim();\n\n// Initialize row with current timestamp\nlet row = {\n    \"Timestamp\": new Date().toLocaleString()\n};\n\n// Parse the incoming line of serial data\nlet parts = line.split(',');\nfor (let i = 0; i < parts.length; i++) {\n    let pair = parts[i].split(':');\n    if (pair.length === 2) {\n        let key = pair[0].trim();\n        let value = parseFloat(pair[1]);\n        if (!isNaN(value)) {\n            // Rename keys with units\n            switch (key) {\n                case \"flow\":\n                    row[\"Flow (L/min)\"] = value;\n                    break;\n                case \"pressure\":\n                    row[\"Pressure (bar)\"] = value;\n                    break;\n                case \"temperature_1\":\n                    row[\"Temperature 1 (°C)\"] = value;\n                    break;\n                case \"temperature_2\":\n                    row[\"Temperature 2 (°C)\"] = value;\n                    break;\n                case \"temperature_3\":\n                    row[\"Temperature 3 (°C)\"] = value;\n                    break;\n                case \"temperature_4\":\n                    row[\"Temperature 4 (°C)\"] = value;\n                    break;\n                case \"temperature_5\":\n                    row[\"Temperature 5 (°C)\"] = value;\n                    break;\n            }\n        }\n    }\n}\n\n// Retrieve existing data array from flow context\nlet data = flow.get(\"tableData\") || [];\n\n// Add the new row to the array\ndata.push(row);\n\n// Keep only the latest 10 entries\nif (data.length > 10) {\n    data = data.slice(data.length - 10);\n}\n\n// Save updated array back to flow context\nflow.set(\"tableData\", data);\n\n// Send updated array to the table\nmsg.payload = data;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 880,
        "wires": [
            [
                "table_node"
            ]
        ]
    },
    {
        "id": "table_node",
        "type": "ui_table",
        "z": "028400f082bfa284",
        "d": true,
        "group": "",
        "name": "Sensor Table",
        "order": 1,
        "width": "36",
        "height": "7",
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 1230,
        "y": 880,
        "wires": []
    },
    {
        "id": "15e7f60dee843987",
        "type": "ui_template",
        "z": "028400f082bfa284",
        "group": "",
        "name": "ggtext",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<style>\n    /* Make the main reading (center value) on the gauge larger and bold */\n    .nr-dashboard-gauge text:nth-of-type(1) {\n        font-family: 'Arial Black', Arial, sans-serif !important;\n        font-size: 32px !important;\n        /* Increase this if needed */\n        fill: white !important;\n    }\n\n    /* Make the unit text and min/max text larger */\n    .nr-dashboard-gauge text {\n        font-family: 'Arial Black', Arial, sans-serif !important;\n        font-size: 18px !important;\n        fill: white !important;\n    }\n\n\n</style>\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 1130,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "f63c2c7aa690f562",
        "type": "ui_slider",
        "z": "028400f082bfa284",
        "name": "Slider 0-100",
        "label": "Set Point",
        "tooltip": "",
        "group": "da20fba7a1cd8b67",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "",
        "topicType": "str",
        "min": 0,
        "max": 100,
        "step": 1,
        "className": "",
        "x": 347.09906005859375,
        "y": 1049.7216796875,
        "wires": [
            [
                "4051d2965a3fbcaf",
                "1908f5e9367d2184"
            ]
        ]
    },
    {
        "id": "24878a57e07d5da4",
        "type": "ui_button",
        "z": "028400f082bfa284",
        "name": "Send Button",
        "group": "da20fba7a1cd8b67",
        "order": 4,
        "width": 7,
        "height": 1,
        "passthru": false,
        "label": "SEND",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "send",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 347.09906005859375,
        "y": 1109.7216796875,
        "wires": [
            [
                "b6180e19aae5f7a8"
            ]
        ]
    },
    {
        "id": "4051d2965a3fbcaf",
        "type": "change",
        "z": "028400f082bfa284",
        "name": "Store Slider Value",
        "rules": [
            {
                "t": "set",
                "p": "slider_value",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 577.0990600585938,
        "y": 1049.7216796875,
        "wires": [
            []
        ]
    },
    {
        "id": "b6180e19aae5f7a8",
        "type": "function",
        "z": "028400f082bfa284",
        "name": "Get & Format Value",
        "func": "let value = flow.get('slider_value') || 0;\nmsg.payload = value.toString() + \"\\n\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 577.0990600585938,
        "y": 1109.7216796875,
        "wires": [
            [
                "a076d228eb673696"
            ]
        ]
    },
    {
        "id": "a076d228eb673696",
        "type": "serial out",
        "z": "028400f082bfa284",
        "name": "SEND",
        "serial": "312f5e127a06f902",
        "x": 890,
        "y": 1100,
        "wires": []
    },
    {
        "id": "dbd98aa81e9f29f0",
        "type": "ui_text",
        "z": "028400f082bfa284",
        "group": "da20fba7a1cd8b67",
        "order": 5,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Callback",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1220,
        "y": 220,
        "wires": []
    },
    {
        "id": "1908f5e9367d2184",
        "type": "ui_text",
        "z": "028400f082bfa284",
        "group": "da20fba7a1cd8b67",
        "order": 3,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 770,
        "y": 980,
        "wires": []
    },
    {
        "id": "e1dc5c8f8a524a44",
        "type": "ui_spacer",
        "z": "028400f082bfa284",
        "name": "spacer",
        "group": "3ecb684841515101",
        "order": 2,
        "width": 7,
        "height": 1
    },
    {
        "id": "f3b7265fcf3723d6",
        "type": "ui_spacer",
        "z": "028400f082bfa284",
        "name": "spacer",
        "group": "da20fba7a1cd8b67",
        "order": 2,
        "width": 4,
        "height": 1
    },
    {
        "id": "bbdb5087b37bb2e5",
        "type": "ui_spacer",
        "z": "028400f082bfa284",
        "name": "spacer",
        "group": "20360c9e681dfa0c",
        "order": 1,
        "width": 6,
        "height": 1
    },
    {
        "id": "f7477b660b3f0081",
        "type": "ui_spacer",
        "z": "028400f082bfa284",
        "name": "spacer",
        "group": "20360c9e681dfa0c",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "113e0cc44344810b",
        "type": "ui_spacer",
        "z": "028400f082bfa284",
        "name": "spacer",
        "group": "20360c9e681dfa0c",
        "order": 5,
        "width": 6,
        "height": 1
    },
    {
        "id": "c2a16e112ec746fc",
        "type": "ui_spacer",
        "z": "028400f082bfa284",
        "name": "spacer",
        "group": "20360c9e681dfa0c",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "117b744b9f94f7f2",
        "type": "ui_spacer",
        "z": "028400f082bfa284",
        "name": "spacer",
        "group": "20360c9e681dfa0c",
        "order": 7,
        "width": 6,
        "height": 1
    },
    {
        "id": "60db7cbc9dc63544",
        "type": "ui_spacer",
        "z": "028400f082bfa284",
        "name": "spacer",
        "group": "20360c9e681dfa0c",
        "order": 9,
        "width": 6,
        "height": 1
    },
    {
        "id": "114c89a2642c1380",
        "type": "ui_spacer",
        "z": "028400f082bfa284",
        "name": "spacer",
        "group": "20360c9e681dfa0c",
        "order": 11,
        "width": 6,
        "height": 1
    },
    {
        "id": "26f58586e97a472c",
        "type": "ui_spacer",
        "z": "028400f082bfa284",
        "name": "spacer",
        "group": "20360c9e681dfa0c",
        "order": 12,
        "width": 6,
        "height": 1
    },
    {
        "id": "5dfa8b1c2652ac7c",
        "type": "ui_spacer",
        "z": "028400f082bfa284",
        "name": "spacer",
        "group": "20360c9e681dfa0c",
        "order": 13,
        "width": 6,
        "height": 1
    },
    {
        "id": "500fee2bf532c3bb",
        "type": "ui_spacer",
        "z": "028400f082bfa284",
        "name": "spacer",
        "group": "20360c9e681dfa0c",
        "order": 15,
        "width": 6,
        "height": 1
    },
    {
        "id": "e872ab36fd7adcb7",
        "type": "ui_spacer",
        "z": "028400f082bfa284",
        "name": "spacer",
        "group": "20360c9e681dfa0c",
        "order": 17,
        "width": 6,
        "height": 1
    },
    {
        "id": "68124fa2eeb1d8ea",
        "type": "ui_spacer",
        "z": "028400f082bfa284",
        "name": "spacer",
        "group": "20360c9e681dfa0c",
        "order": 18,
        "width": 6,
        "height": 1
    },
    {
        "id": "f199ae3e6a28f677",
        "type": "ui_spacer",
        "z": "028400f082bfa284",
        "name": "spacer",
        "group": "20360c9e681dfa0c",
        "order": 19,
        "width": 6,
        "height": 1
    },
    {
        "id": "96d5b7207e1f35b6",
        "type": "ui_spacer",
        "z": "028400f082bfa284",
        "name": "spacer",
        "group": "20360c9e681dfa0c",
        "order": 21,
        "width": 6,
        "height": 1
    },
    {
        "id": "451a18b9358aeb7a",
        "type": "ui_spacer",
        "z": "028400f082bfa284",
        "name": "spacer",
        "group": "20360c9e681dfa0c",
        "order": 23,
        "width": 6,
        "height": 1
    },
    {
        "id": "dd896bc07c8d0acf",
        "type": "ui_spacer",
        "z": "028400f082bfa284",
        "name": "spacer",
        "group": "20360c9e681dfa0c",
        "order": 24,
        "width": 6,
        "height": 1
    },
    {
        "id": "b839c109d8f942d3",
        "type": "ui_spacer",
        "z": "028400f082bfa284",
        "name": "spacer",
        "group": "20360c9e681dfa0c",
        "order": 26,
        "width": 6,
        "height": 1
    },
    {
        "id": "6f4a56703fca3ff2",
        "type": "ui_spacer",
        "z": "028400f082bfa284",
        "name": "spacer",
        "group": "20360c9e681dfa0c",
        "order": 28,
        "width": 6,
        "height": 1
    },
    {
        "id": "2dd41d95679821d0",
        "type": "ui_spacer",
        "z": "028400f082bfa284",
        "name": "spacer",
        "group": "20360c9e681dfa0c",
        "order": 29,
        "width": 6,
        "height": 1
    },
    {
        "id": "770b6ca9857c11d4",
        "type": "ui_spacer",
        "z": "028400f082bfa284",
        "name": "spacer",
        "group": "26fac49d1f498eb4",
        "order": 1,
        "width": 7,
        "height": 1
    },
    {
        "id": "2161287ea3ee99ef",
        "type": "ui_spacer",
        "z": "028400f082bfa284",
        "name": "spacer",
        "group": "26fac49d1f498eb4",
        "order": 3,
        "width": 7,
        "height": 1
    },
    {
        "id": "48a5296f5439b8eb",
        "type": "ui_spacer",
        "z": "028400f082bfa284",
        "name": "spacer",
        "group": "26fac49d1f498eb4",
        "order": 5,
        "width": 7,
        "height": 1
    },
    {
        "id": "7f6ddfb41513843c",
        "type": "ui_spacer",
        "z": "028400f082bfa284",
        "name": "spacer",
        "group": "26fac49d1f498eb4",
        "order": 6,
        "width": 7,
        "height": 1
    },
    {
        "id": "9cb39092f7d78db1",
        "type": "ui_spacer",
        "z": "028400f082bfa284",
        "name": "spacer",
        "group": "charts",
        "order": 1,
        "width": 8,
        "height": 1
    },
    {
        "id": "c5574b46304876f1",
        "type": "ui_spacer",
        "z": "028400f082bfa284",
        "name": "spacer",
        "group": "charts",
        "order": 3,
        "width": 8,
        "height": 1
    },
    {
        "id": "8c95208da7301d9e",
        "type": "ui_spacer",
        "z": "028400f082bfa284",
        "name": "spacer",
        "group": "charts",
        "order": 5,
        "width": 8,
        "height": 1
    },
    {
        "id": "5c49bf935be6698d",
        "type": "ui_spacer",
        "z": "028400f082bfa284",
        "name": "spacer",
        "group": "charts",
        "order": 6,
        "width": 8,
        "height": 1
    },
    {
        "id": "312f5e127a06f902",
        "type": "serial-port",
        "name": "esp32",
        "serialport": "COM8",
        "serialbaud": "115200",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "charts",
        "type": "ui_group",
        "name": "FLOW",
        "tab": "dashboard-tab",
        "order": 5,
        "disp": true,
        "width": 18,
        "collapse": false,
        "className": ""
    },
    {
        "id": "26fac49d1f498eb4",
        "type": "ui_group",
        "name": "PRESSURE",
        "tab": "dashboard-tab",
        "order": 4,
        "disp": true,
        "width": 18,
        "collapse": false,
        "className": ""
    },
    {
        "id": "20360c9e681dfa0c",
        "type": "ui_group",
        "name": "TEMPERATURE",
        "tab": "dashboard-tab",
        "order": 3,
        "disp": true,
        "width": 18,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3ecb684841515101",
        "type": "ui_group",
        "name": "DATA CONTROL",
        "tab": "dashboard-tab",
        "order": 1,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "da20fba7a1cd8b67",
        "type": "ui_group",
        "name": "FLOW CONTROL",
        "tab": "dashboard-tab",
        "order": 2,
        "disp": true,
        "width": 11,
        "collapse": false,
        "className": ""
    },
    {
        "id": "dashboard-tab",
        "type": "ui_tab",
        "name": "Hydrogen Apparatus Monitoring",
        "icon": "fa-fire",
        "order": 2,
        "disabled": true,
        "hidden": true
    }
]